<h1 style="align-items:center;align-content: center;text-align: center;">Mail Report</h1>
<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-lg-6 col-md-8 mx-auto">

                        <!-- form card login -->
                        <div class="card rounded shadow shadow-sm">
                            <div class="card-header">
                                <h3 class="mb-0">Status</h3>
                            </div>
                            <div class="card-body">
                                {% csrf_token %}
                                <div style="color: greenyellow;text-shadow: aqua;">
                                    <h3 class="mb-0">{{status}}</h3>
                                    {% if status is 'Success' %}
                                    <image src="MailingSystem\templates\mailsent.png">
                                    </image>
                                    {% endif %}
                                </div>

                            </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->

                    </div>


                </div>
                <!--/row-->

            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->

</form>